@import url(reset.css);
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f6f5e0;
  padding: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.email-hyperlink {
  text-decoration: underline;
  color: #f2bbd7;
}
a.email-hyperlink:hover {
  color: #e780b5;
}

a.active,
a.non-active {
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 0.2rem;
}

a.active {
  background: #f2bbd7;
}

p {
  color: #000;
  font-family: Onest;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 121.174%; /* 1.51469rem */
  letter-spacing: 0.175rem;
}

h1 {
  color: #000;
  font-family: Onest;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 121.174%; /* 3.63525rem */
  letter-spacing: 0.42rem;
}

h2 {
  color: #000;
  font-family: Onest;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 204%; /* 4.59rem */
}

h3 {
  color: #000;
  font-family: Onest;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-family: Onest;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

img {
  height: auto;
  max-width: 100%;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-top: 2.81rem;
  margin-bottom: 3.56rem;
}

nav {
  padding: 2rem;
  font-size: 0.8125rem;
}

.hero-area {
  padding: 1rem;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
}

.top-border {
  border-top: 2px solid black;
}
.bottom-border {
  border-bottom: 2px solid #111;
  margin-bottom: 2rem;
}

.flourish-1 {
  display: flex;
  flex-direction: row;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.fish-logo {
}

.bio {
  display: flex;
  flex-direction: row;

  width: 60%;
}
.about-area {
  min-height: 100vh;
}

footer {
  min-height: 100vh;
  background: lightblue;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navigation {
    flex-direction: row;
  }
  body {
    background: blue;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background: green;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    background: lemonchiffon;
  }
}
