@import url(reset.css);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f6f5e0;
}

/*Typography Styles */

h1 {
  color: #000;
  font-family: Onest;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.42rem;
}

header h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h2 {
  color: #000;
  font-family: Onest;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 204%;
  flex: 1;
}

h3 {
  color: #000;
  font-family: Onest;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-family: Onest;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  color: #000;
  font-family: Onest;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.175rem;
}

.light {
  color: #f6f5e0;
  padding: 1rem;
}

/* Hyperlink Styles */

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.hyperlink {
  text-decoration: underline;
  color: #f2bbd7;
}
a.hyperlink:hover {
  color: #e780b5;
}

a.hyperlink-alternate {
  text-decoration: underline;
  color: black;
}
a.hyperlink-alternate:hover {
  color: #e780b5;
}

a.active,
a.non-active {
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 0.2rem;
  border: 2px solid transparent;
  color: #000;
}

a.active {
  background: #f2bbd7;
  border: 2px solid #f2bbd7;
}

a.non-active:hover {
  background: transparent;
  border: 2px solid #f2bbd7;
}
/* Image Styles */

img {
  max-width: 100%;
  height: auto;
}

/* Structural Template Layout Styles */

header {
  text-align: center;
}

.home-my-work {
  text-align: center;
}

.home-my-work h1 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.work-my-work {
  text-align: center;
}

.work-my-work h1 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

nav {
  padding: 1.5rem;
  font-size: 0.8125rem;
}
.hero-area,
.about-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-section {
  padding: 1rem;
}
.hero-area {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0 1rem;
}

.hero-area-2 {
  min-height: 60vh;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/flatten-flourish.svg);
  background-position: top left;
  background-repeat: no-repeat;
}

.home-work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.job-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 10rem;
}

.maps-main-image-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.project-image {
  width: 100%;
  padding: 1rem;
}
.project-case-study {
  width: 50%;
  padding: 1rem 2rem;
}

.maps-main-image-work {
  border-radius: 1.25rem;
  border-width: 46.5rem;
  background: #e6e6e6;
  width: 46.09494rem;
  height: 26rem;
}

.google-maps-title {
  text-align: center;
}

.google-maps-title h1 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.full-width-section,
.full-width-section-alternate {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.full-width-section-alternate {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.maps-summary {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.mockup-background {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.opportunity {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.full-width-section {
  text-align: center;
  justify-content: center;
}

.full-width-text-rounded-corners {
  background: #1d3a28;
  width: 90%;
  padding: 3rem;
  border-radius: 1.25rem;
  margin: 0 auto;
  text-align: left;
  margin: 3rem auto;
}

.project-details-four-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}
.four-column-grid,
.two-column-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
}

.four-column-grid {
  width: 80%;
}
.two-column-grid {
  width: 100%;
}
.grid-item {
  width: 50%;
  text-align: center;
  padding: 2rem;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.maps-problem {
  padding: 2rem;
}

.two-column-container {
  display: flex;
  flex-direction: row;
  border-radius: 1.25rem;
  border-width: 46.5rem;
  width: 100%;
  padding: 1rem;
}

.maps-section-2 {
  background: #e6e6e6;
}

.maps {
  display: flex;
  flex-direction: row;
  border-radius: 1.25rem;
  border-width: 46.5rem;

  width: 100%;
  padding: 1rem;
}

/* Aesthetic Styles */
/* Border lines, Rounded corners and Flourish Styles */

.top-border {
  border-top: 2px solid black;
}
.bottom-border {
  border-bottom: 2px solid #111;
}

.rounded-corners {
  border-radius: 1rem;
}

.flourish {
  width: 30%;
}

/* About Page Styles */

.bio-wrapper {
  width: 60%;
  display: flex;
  align-items: center;
}

.about-photo,
.more-about {
  width: 50%;
}

.more-about {
  padding: 3rem;
}
/* Footer Styles */

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  background: #1d3a28;
  padding: 1rem;
}
.footer-main-content-area {
  width: 85%;
}

.socials {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h1 {
  color: #f6f5e0;
}

footer h2 {
  color: #f6f5e0;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navigation {
    flex-direction: row;
  }
  .maps-main-image-home {
    flex-direction: row;
  }
  .project-image {
    width: 50%;
  }
  .hero-area {
    flex-direction: row;
  }
  .hero-area-2 {
  }

  .h1 {
    font-size: 1.25rem;
  }
  .h2 {
    font-size: 0.8rem;
  }
  .h3 {
    font-size: 0.8rem;
  }
  .h4 {
    font-size: 0.8rem;
  }
  .p {
    font-size: 0.6rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navigation {
    flex-direction: row;
  }
  .maps-main-image-home {
    flex-direction: row;
  }
  .project-image {
    width: 50%;
  }
  .hero-area {
    flex-direction: row;
  }
  .hero-area-2 {
  }

  .h1 {
    font-size: 1.25rem;
  }
  .h2 {
    font-size: 0.8rem;
  }
  .h3 {
    font-size: 0.8rem;
  }
  .h4 {
    font-size: 0.8rem;
  }
  .p {
    font-size: 0.6rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .navigation {
    flex-direction: row;
  }
  .maps-main-image-home {
    flex-direction: row;
  }
  .project-image {
    width: 50%;
  }
  .hero-area {
    flex-direction: row;
  }
  .hero-area-2 {
  }

  .h1 {
    font-size: 1.25rem;
  }
  .h2 {
    font-size: 0.8rem;
  }
  .h3 {
    font-size: 0.8rem;
  }
  .h4 {
    font-size: 0.8rem;
  }
  .p {
    font-size: 0.6rem;
  }
}
